<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>data entry</title>
    <style>
        .body{
            background-color: black;
            color: white;
        }
        .form{
            border-radius: 5px;
        }
        .buttone{
            border-radius: 5px;
            background-color: grey;
            color: white;
        }
    </style>
</head>
<body  class='body' >
    <h1 align="center">Add Expense</h1><br><br>
    <form align="center" action="/subm" method="POST" class="form">
        &nbsp;<input class="form" type="date" name="date" placeholder="select date"><br><br>
        &nbsp;<input class="form" type="text" name="expense" placeholder="enter expense name"><br><br>
        &nbsp;<input class="form" type="number" name="amount" placeholder="enter amount"><br><br>
        &nbsp;<select class="form" name="category" >
                <option value="food">Food</option>
                <option value="entertainment">Entertainment</option>
                <option value="buisness">Buisness</option>
                <option value="other">Other</option>
        </select>
        &nbsp;<input class="buttone" type="submit">
    </form>
</body>
</html>